<table class="lmsbox anteroom lms-ui-background-cycle">
    <thead>
        <tr>
            <td colspan="6" class="bold">
                {icon name="upload" label="Import box"}
            </td>
        </tr>
    </thead>
    <tbody>
        {foreach $anteroom as $att}
            <tr>
                <td>
                    {$att.createtime|escape|date_format:"%Y/%m/%d %H:%M"}
                </td>
                <td>
                    {$att.filename}
                </td>
                <td>
                    {$att.sender}
                </td>
                <td>
                    {$att.sender_email}
                </td>
                <td>
                    {$att.comment}
                </td>
                <td class="text-right nobr">
                    {if ConfigHelper::checkPrivilege("purchases_add_purchase")}
                        {button type="link" icon="add" tip="Zaksięguj jako wydatek"
                            href="javascript:open_add_anteroom_dialog({$att.id})"}
                    {/if}
                    {button type="link" icon="print" href="?m=pdview&attid={$att.id}" tip="Show uploaded document"}
                    {if ConfigHelper::checkPrivilege("purchases_delete_purchase")}
                        {button type="link" icon="delete" class="delete-pd" tip="Delete from anteroom"
                            href="?m=pdlist&action=delete-attachment&attid={$att.id}" }
                    {/if}
                </td>
            </tr>
        {/foreach}
    </tbody>
</table>