<style>
    #addpdcmodal {
        overflow: visible;
    }
    input {
        margin-top: 5px;
    }
    .button-bar {
        padding-top: 20px;
    }
</style>

<div id="addpdcmodal" class="lms-ui-modal-dialog">
    <form method="POST" action="?m=pdcategorylist&action={if $action == 'modify'}modify&id={$pdcinfo.id}{else}add{/if}"
              name="addpdc" id="addpdc-form">
        <table>
            <tbody>
                {if $action == 'modify'}
                    <tr>
                        <td>
                            <input type="text" name="addpdc[id]" value="{$pdcinfo.id}" hidden>
                        </td>
                    </tr>
                {/if}
                <tr>
                    <td>
                        {icon name="summary" label="Name"}
                    </td>
                    <td>
                        <input type="text" id="dialog-name" name="addpdc[name]" value="{$pdcinfo.name}" required>
                    </td>
                </tr>
                <tr>
                    <td class="nobr">
                        {icon name="description" label="Description"}
                    </td>
                    <td>
                        <input type="text" id="dialog-description" name="addpdc[description]" value="{$pdcinfo.description|escape}">
                    </td>
                </tr>
                <tr>
                    <td class="nobr">
                        {icon name="permissions" label="Privileges"}
                    </td>
                    <td>
                        <select id="dialog-userids" name="addpdc[userids][]" class="lms-ui-advanced-select" multiple
                            placeholder='{trans("— Select user —")}' required>
                            <option value='' disabled>{trans("— Select users —")}</option>
                            {foreach $pluginusers as $user}
                                <option value="{$user.id}">{$user.name} ({$user.login})</option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="button-bar text-center">
                        {button id="submit-modal-button" type="submit" label="{if $action == 'modify'}Submit{else}Add{/if}" icon="submit"}
                        {button label="Cancel" icon="cancel" id="close"}
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
</div>

{include file="../js/shared.js"}
{include file="../js/pdcategories.js"}
