<form method="GET" action="?m=pdlist" name="filter" form="filter-form">
    <table class="lmsbox">
        <tr>
            <td>
                {icon name="filter" tip="filters"}
                <input type="submit" class="hiddenbtn">
                <input type="hidden" name="m" value="pdlist">
            </td>
            <td>
                {icon name="customer" label="Supplier"}
                <select name="supplier" onChange="document.filter.submit();" class="lms-ui-advanced-select">
                    <option value="">{trans("filter off")}</option>
                    {foreach $supplierslist as $s}
                    <option value="{$s.id}" {if $s.id == $params.supplier} selected{/if}>{$s.lastname|trunescape:"25"}</option>
                    {/foreach}
                </select>
            </td>
            <td>
                {icon name="money" label="Payment"}
                <select size="1" name="payments" onchange="document.filter.submit();">
                    <option value="" {if empty($params.payments)} selected{/if}>{trans("filter off")}</option>
                    <option value="-1" {if !empty($params.payments) && $params.payments=='-1'} selected{/if}>{trans("unpaid only")}</option>
                    <option value="-6" {if !empty($params.payments) && $params.payments=='-6'} selected{/if}>{trans("unpaid with today payment date")}</option>
                    <option value="-2" {if !empty($params.payments) && $params.payments=='-2'} selected{/if}>{trans("unpaid with upcoming payment date (to 3 days)")}</option>
                    <option value="-3" {if !empty($params.payments) && $params.payments=='-3'} selected{/if}>{trans("unpaid with upcoming payment date (to 7 days)")}</option>
                    <option value="-4" {if !empty($params.payments) && $params.payments=='-4'} selected{/if}>{trans("unpaid with upcoming payment date (to 14 days)")}</option>
                    <option value="-5" {if !empty($params.payments) && $params.payments=='-5'} selected{/if}>{trans("expired only")}</option>
                </select>
            </td>
            <td>
                {icon name="money" label="Gross value"}
                <input type="text" size="8" name="valuefrom" placeholder="{trans("from")}" value="{if $params.valuefrom}{$params.valuefrom}{/if}" onchange="document.filter.submit();" class="filters">
                <input type="text" size="8" name="valueto" placeholder="{trans("to")}" value="{if $params.valueto}{$params.valueto}{/if}" onchange="document.filter.submit();" class="filters">
            </td>
            <td>
                {icon name="timetable" label="Document date"}
                <select size="1" name="period" onchange="document.filter.submit();">
                    <option value="-1" {if $params.period=='-1'} selected{/if}>{trans("filter off")}</option>
                    <option value="1" {if !empty($params.period) && $params.period=='1'} selected{/if}>{trans("current week")}</option>
                    <option value="2" {if !empty($params.period) && $params.period=='2'} selected{/if}>{trans("previous week")}</option>
                    <option value="3" {if !empty($params.period) && $params.period=='3'} selected{/if}>{trans("current month")}</option>
                    <option value="4" {if !empty($params.period) && $params.period=='4'} selected{/if}>{trans("previous month")}</option>
                    <option value="5" {if !empty($params.period) && $params.period=='5'} selected{/if}>{trans("current quarter")}</option>
                    <option value="6" {if !empty($params.period) && $params.period=='6'} selected{/if}>{trans("current year")}</option>
                </select>
            </td>
        </tr>
    </table>
</form>
