<form method="GET" action="?m=pdlist" name="filter" form="filter-form">
    <table class="lmsbox">
        <tr>
            <td class="nobr">
                <input type="submit" class="hiddenbtn">
                <input type="hidden" name="m" value="pdlist">
                {if isset($action)}<input type="hidden" name="action" value="{$action}">{/if}
                {division_selection
                    name="divisionid"
                    shortname=true
                    selected=$params.divisionid
                    onchange="document.filter.submit();"
                    icon="division"}
            </td>
            <td class="nobr">
                {customerlist
                    version=2
                    selected=$params.supplier
                    customOnChange="document.filter.submit();"
                    inputname="supplier"
                    icon="customer"
                    firstoption="select supplier"
                }
            </td>
            <td class="nobr">
                {icon name="money" tip="Payment"}
                <select size="1" name="payments" onchange="document.filter.submit();">
                    <option value="" {if empty($params.payments)} selected{/if}>{trans("filter off")}</option>
                    <option value="-1" {if !empty($params.payments) && $params.payments=='-1'} selected{/if}>{trans("unpaid only")}</option>
                    <option value="-6" {if !empty($params.payments) && $params.payments=='-6'} selected{/if}>{trans("unpaid with today payment date")}</option>
                    <option value="-2" {if !empty($params.payments) && $params.payments=='-2'} selected{/if}>{trans("unpaid with upcoming payment date (to 3 days)")}</option>
                    <option value="-3" {if !empty($params.payments) && $params.payments=='-3'} selected{/if}>{trans("unpaid with upcoming payment date (to 7 days)")}</option>
                    <option value="-4" {if !empty($params.payments) && $params.payments=='-4'} selected{/if}>{trans("unpaid with upcoming payment date (to 14 days)")}</option>
                    <option value="-5" {if !empty($params.payments) && $params.payments=='-5'} selected{/if}>{trans("expired only")}</option>
                </select>
            </td>
            <td class="nobr">
                {icon name="money" tip="Net value"}
                <input type="text" size="8" name="netcurrencyvaluefrom" placeholder="{trans("net from")}" value="{if $params.netcurrencyvaluefrom}{$params.netcurrencyvaluefrom}{/if}" onchange="document.filter.submit();" class="filters">
                <input type="text" size="8" name="netcurrencyvalueto" placeholder="{trans("net to")}" value="{if $params.netcurrencyvalueto}{$params.netcurrencyvalueto}{/if}" onchange="document.filter.submit();" class="filters">
                <br>
                {icon name="money" tip="Gross value"}
                <input type="text" size="8" name="grosscurrencyvaluefrom" placeholder="{trans("gross from")}" value="{if $params.grosscurrencyvaluefrom}{$params.grosscurrencyvaluefrom}{/if}" onchange="document.filter.submit();" class="filters">
                <input type="text" size="8" name="grosscurrencyvalueto" placeholder="{trans("gross to")}" value="{if $params.grosscurrencyvalueto}{$params.grosscurrencyvalueto}{/if}" onchange="document.filter.submit();" class="filters">
            </td>
            <td class="nobr">
                {icon name="type" tip="View type"}
                <select name="expences" onchange="document.filter.submit();">
                    <option value="0">{trans("documents")}</option>
                    <option value="1"{if isset($params.expences) && $params.expences=='1'} selected{/if}>{trans("expences")}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="nobr">
                {icon name="timetable" tip="Document date"}
                {date_period_preset from='[name="datefrom"]' to='[name="dateto"]'
                    periods="previous-year,previous-month,current-year,current-month,next-month,next-year" onchange="document.filter.submit();"}<br>
                <input type="text" size="10" name="datefrom" value="{if $params.datefrom}{$params.datefrom|date_format:"Y/m/d"|escape}{/if}" placeholder="{trans("yyyy/mm/dd")}"
                    {tip class="lms-ui-date" text="Enter date in 'yyyy/mm/dd' format (empty field means current date) or click to choose it from calendar" trigger="datefrom"}>
                <input type="text" size="10" name="dateto" value="{if $params.dateto}{$params.dateto|date_format:"Y/m/d"|escape}{/if}" placeholder="{trans("yyyy/mm/dd")}"
                    {tip class="lms-ui-date" text="Enter date in 'yyyy/mm/dd' format (empty field means current date) or click to choose it from calendar" trigger="dateto"}>
            </td>
            <td class="nobr">
                {icon name="description" tip="expence description"}
                <input type="text" name="description" placeholder="{trans('expence description')}"
                    onchange="document.filter.submit();" value="{if $params.description}{$params.description|escape}{/if}">
            </td>
            <td class="nobr">
                {icon name="categories" tip="Categories"}
                <select size=1 name="catid[]" onchange="document.filter.submit();" class="lms-ui-advanced-select" multiple>
                    {if !empty($categorylist)}
                        {foreach $categorylist as $c}
                            <option value="{$c.id}" {if !empty($params.catids) && in_array($c.id, $params.catids)} selected{/if}>{$c.name}</option>
                        {/foreach}
                    {/if}
                    <option value="-1" {if !empty($params.catids) && in_array(-1, $params.catids)} selected{/if} data-exclusive>{trans("with category")}</option>
                    <option value="-2" {if !empty($params.catids) && in_array(-2, $params.catids)} selected{/if} data-exclusive>{trans("without category")}</option>
                    <option value="" {if empty($params.catids)}selected{/if} data-exclusive>{trans("filter off")}</option>
                </select>
            </td>
            <td class="nobr">
                {icon name="summary" tip="Document number"}
                <input type="text" size="12" name="docnumber" placeholder="{trans("document number")}" value="{if isset($params.docnumber)}{$params.docnumber}{/if}" onchange="document.filter.submit();" class="filters">
            </td>
            <td class="nobr">
                <input type="hidden" name="export" id="export-input" value="0">
                {buttons}
                    {if ConfigHelper::checkPrivilege("purchases_add_purchase")}
                        {button name="addpd" id="addpdbtn" icon="add" accesskey="a" label="Add Purchase" onclick="open_add_dialog()" tip="Add Purchase"}
                    {/if}
                    {if ConfigHelper::checkPrivilege("purchases_add_purchase_to_anteroom")}
                        {button id="massadbtn" icon="upload" accesskey="u" label="Document uploads" href="?m=pduploads" tip="Document uploads"}
                    {/if}
                    {if ConfigHelper::checkPrivilege("purchases_export_purchases")}
                        {button name="exportpd" id="exportpdbtn" icon="importsource" label="Export" onclick="document.getElementById('export-input').value=1; document.filter.submit();" tip="Eksport przelewów"}
                    {/if}
                {/buttons}
            </td>
        </tr>
    </table>
</form>