{extends file="layout.html"}
{block name=title}{$layout.pagetitle|striphtml}{/block}
{block name=module_content}

{$default_taxrate = ConfigHelper::getConfig('phpui.default_taxrate', 23)}
{$default_paytype = ConfigHelper::getConfig('pd.default_paytype', 2)}
{$default_divisionid = ConfigHelper::getConfig('pd.default_divisionid', 1)}
{$default_currency = ConfigHelper::getConfig('pd.default_currency', 'PLN')}

<style>
    table.anteroom {
        max-width: 300px;
    }
    .nocolor {
       color: black !important;
    }
    input.filters {
        margin: 3px;
    }
    td.lms-ui-buttons {
        width: 5em;
    }
</style>

<h1>{$pagetitle|escape}</h1>

{include file="pdfilters.html"}

{if $anteroom|@size > 0}
    {include file="pdanteroom.html"}
{/if}

<table class="lmsbox lms-ui-background-cycle lms-ui-datatable" data-page-length="{$pagelimit}">
    <thead>
        <tr class="bold">
            <td>
                {if !empty($params.expences)}
                    {icon name="id" label="Expence ID"}
                {else}
                    {icon name="document" label="Document ID"}
                {/if}
            </td>
            <td>
                {icon name="type" label="Document type"}
            </td>
            <td>
                {icon name="summary" label="Document number"}
            </td>
            <td>
                {icon name="value" label="Net value"}
            </td>
            {if !empty($params.expences)}
                <td>
                    {icon name="value" label="Tax rate"}
                </td>
            {/if}
            <td>
                {icon name="value" label="Gross value"}
            </td>
            <td>
                {icon name="timetable" label="Document date"}
            </td>
            <td>
                {icon name="deadline" label="Payment type and deadline"}
            </td>
            <td>
                {icon name="money" label="Pay date"}
            </td>
            {if !empty($params.expences)}
                <td>
                    {icon name="description" label="Description"}
                </td>
            {/if}
            <td>
                {icon name="customer" label="Supplier"}
            </td>
            <td>
                {icon name="invproject" label="Inv. Project"}
            </td>
            <td>
                {icon name="categories" label="Categories"}
            </td>
            <td>
                {icon name="user" label="User"}
            </td>
            <td class="lms-ui-buttons">
                &nbsp;
            </td>
        </tr>
    </thead>
    <tbody>
    {if !empty($pdlist)}
        {foreach $pdlist as $pd}
            {if empty($params.expences)}
                {include file="pdlist-docrow.html"}
            {else}
                {include file="pdlist-expencerow.html"}
            {/if}
        {/foreach}
    {/if}
    </tbody>
</table>

{include file="pdmodify.html"}

{/block}
