{extends file="layout.html"}
{block name=title}{$layout.pagetitle|striphtml}{/block}
{block name=module_content}

<h1>{$pagetitle|escape}</h1>
<form method="GET" action="?m=pdlist" name="filter" form="filter-form">
    <table class="lmsbox">
        <tr>
            <td>
                {icon name="filter" tip="filters"}
                <input type="submit" class="hiddenbtn">
                <input type="hidden" name="m" value="pdlist">
            </td>
            <td>
                {icon name="money" label="Payment"}
                <select size="1" name="payments" onchange="document.filter.submit();">
                    <option value="" {if empty($params.payments)} selected{/if}>{trans("filter off")}</option>
                    <option value="-1" {if !empty($params.payments) && $params.payments=='-1'} selected{/if}>{trans("unpaid only")}</option>
                    <option value="-2" {if !empty($params.payments) && $params.payments=='-2'} selected{/if}>{trans("with upcoming payment date (to 3 days)")}</option>
                    <option value="-3" {if !empty($params.payments) && $params.payments=='-3'} selected{/if}>{trans("with upcoming payment date (to 7 days)")}</option>
                    <option value="-4" {if !empty($params.payments) && $params.payments=='-4'} selected{/if}>{trans("with upcoming payment date (to 14 days)")}</option>
                    <option value="-5" {if !empty($params.payments) && $params.payments=='-5'} selected{/if}>{trans("expired only")}</option>
                </select>
            </td>
            <td>
                {icon name="money" label="Gross value"}
                <input type="text" size="6" name="valuefrom" placeholder="{trans("from")}" value="{if $params.valuefrom}{$params.valuefrom}{/if}" onchange="document.filter.submit();">
                <input type="text" size="6" name="valueto" placeholder="{trans("to")}" value="{if $params.valueto}{$params.valueto}{/if}" onchange="document.filter.submit();">
            </td>
            <td>
                {icon name="timetable" label="Document date"}
                <select size="1" name="period" onchange="document.filter.submit();">
                    <option value="-1" {if $params.period=='-1'} selected{/if}>{trans("filter off")}</option>
                    <option value="1" {if !empty($params.period) && $params.period=='1'} selected{/if}>{trans("current week")}</option>
                    <option value="2" {if !empty($params.period) && $params.period=='2'} selected{/if}>{trans("previous week")}</option>
                    <option value="3" {if !empty($params.period) && $params.period=='3'} selected{/if}>{trans("current month")}</option>
                    <option value="4" {if !empty($params.period) && $params.period=='4'} selected{/if}>{trans("previous month")}</option>
                    <option value="5" {if !empty($params.period) && $params.period=='5'} selected{/if}>{trans("current quarter")}</option>
                    <option value="6" {if !empty($params.period) && $params.period=='6'} selected{/if}>{trans("current year")}</option>
                </select>
            </td>
        </tr>
    </table>
</form>
<table class="lmsbox lms-ui-background-cycle lms-ui-datatable">
    <thead>
        <tr class="bold">
            <td>
                {icon name="id" label="ID"}
            </td>
            <td>
                {icon name="type" label="Type"}
            </td>
            <td>
                {icon name="summary" label="Purchase document number"}
            </td>
            <td>
                {icon name="value" label="Net value"}
            </td>
            <td>
                {icon name="value" label="Gross value"}
            </td>
            <td>
                {icon name="timetable" label="Document date"}
            </td>
            <td>
                {icon name="deadline" label="Deadline"}
            </td>
            <td>
                {icon name="money" label="Pay date"}
            </td>
            <td>
                {icon name="description" label="Description"}
            </td>
            <td>
                {icon name="customer" label="Supplier"}
            </td>
            <td>
                {icon name="invproject" label="Inv. Project"}
            </td>
            <td>
                {icon name="user" label="User"}
            </td>
            <td class="text-right" class="lms-ui-box-buttons">
                {button name="addpd" id="addpdbtn" icon="add" accesskey="v" label="Add" onclick="open_add_dialog()"}
            </td>
        </tr>
    </thead>
    <tbody>
        {foreach $pdlist as $pd}
        <tr class="{if $smarty.now > $pd.deadline && !$pd.paydate}red{elseif $pd.paydate}blend{/if} highlight"
            data-template-id="{$pd.id}">
            <td>
                {$pd.id}
            </td>
            <td data-template-typeid="{$pd.typeid}">
                {$pd.typename|escape}
            </td>
            <td data-template-fullnumber="{$pd.fullnumber}">
                {$pd.fullnumber|escape}
            </td>
            <td data-template-netvalue="{$pd.netvalue}" data-order="{$pd.netvalue}">
                {$pd.netvalue|escape} PLN
            </td>
            <td data-template-grossvalue="{$pd.grossvalue}" data-order="{$pd.grossvalue}">
                {$pd.grossvalue|escape} PLN
            </td>
            <td data-template-sdate="{$pd.sdate|date_format:'%Y/%m/%d'}">
                {$pd.sdate|escape|date_format:"%Y/%m/%d"}
            </td>
            <td data-template-deadline="{$pd.deadline|date_format:'%Y/%m/%d'}">
                {$pd.deadline|escape|date_format:"%Y/%m/%d"}
            </td>
            <td data-template-paydate="{$pd.paydate|date_format:'%Y/%m/%d'}">
                {$pd.paydate|escape|date_format:"%Y/%m/%d"}
            </td>
            <td data-template-description="{$pd.description}" {tip text=$pd.description}>
                {$pd.description|trunescape:40}
            </td>
            <td data-template-supplierid="{$pd.supplierid}" {tip text=$pd.suppliername}>
                <a href="?m=customerinfo&id={$pd.supplierid}">
                    {$pd.suppliername|trunescape:25:"&hellip;":true}
                </a>
            </td>
            <td data-template-invprojects="{foreach $pd.projects as $p}{$p.id};{/foreach}">
            {foreach $pd.projects as $p}
                <a href="?m=invprojectedit&id={$p.id}">{$p.name|trunescape:25:"&hellip;":true}</a><br>
            {/foreach}
            </td>
            <td data-template-user="{$pd.userid}">
                <a href="?m=userinfo&id={$pd.userid}">{$pd.username|trunescape:25:"&hellip;":true}</a>
            </td>
            <td class="buttons">
                {button type="link" icon="edit" tip="Edit" onclick="open_modify_dialog({$pd.id})"}
                {if !$pd.paydate}
                    {button type="link" icon="money" tip="Mark invoice as paid" href="?m=pdlist&action=markaspaid&id={$pd.id}"}
                {/if}
                {button type="link" icon="delete" href="?m=pdlist&action=delete&id={$pd.id}" tip="Delete" class="delete-pd"}
            </td>
        </tr>
        {/foreach}
    </tbody>
</table>

{include file="pdmodify-dialog.html"}

<script>
    $(function() {
        $( '.delete-pd' ).click(function() {
            confirmDialog( $t("Are you sure you want to delete that purchase document?") , this).done(function() {
                location.href = $(this).attr('href');
            });
            return false;
        });
    });
</script>

{/block}
