<style>
    #addpdmodal {
        overflow: visible;
    }
    input {
        margin-top: 5px;
    }
    .button-bar {
        padding-top: 20px;
    }
</style>

<div id="addpdmodal" class="lms-ui-modal-dialog">
    <form method="POST" action="?m=pdlist&action={if $action == 'modify'}modify&id={$pdinfo.id}{else}add{/if}"
              name="addpd" id="addpd-form">
        <table>
            <tbody>
                {if $action == 'modify'}
                    <tr>
                        <td>
                            <input type="text" name="addpd[id]" value="{$pdinfo.id}" hidden>
                        </td>
                    </tr>
                {/if}
                <tr>
                    <td>
                        {icon name="description" label="Type"}
                    </td>
                    <td>
                        <select id="dialog-typeid" name="addpd[typeid]" class="lms-ui-advanced-select">
                            <option value="">{trans("undefined")}</option>
                            {foreach $typeslist as $pd}
                            <option value="{$pd.id}" {if $pdinfo.typeid == $pd.id} selected{/if}>{$pd.name|trunescape:"25"}</option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="summary" label="Purchase document number"}
                    </td>
                    <td>
                        <input type="text" id="dialog-fullnumber" name="addpd[fullnumber]" value="{$pdinfo.fullnumber}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="value" label="Net value"}
                    </td>
                    <td>
                       <input type="text" id="dialog-netvalue" name="addpd[netvalue]" value="{$pdinfo.netvalue}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="value" label="Gross value"}
                    </td>
                    <td>
                       <input type="text" id="dialog-grossvalue" name="addpd[grossvalue]" value="{$pdinfo.grossvalue}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="timetable" label="Document date"}
                    </td>
                    <td>
                        <input
                            type="text" id="dialog-sdate" name="addpd[sdate]" value="{$pdinfo.sdate|date_format:'%Y/%m/%d'}"
                            placeholder="{trans('yyyy/mm/dd')}"
                            {tip class="lms-ui-date" text="Enter document date in YYYY/MM/DD format or click to select it from calendar"}
                            required>
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="money" label="Pay date"}
                    </td>
                    <td>
                        <input
                            type="text" id="dialog-paydate" name="addpd[paydate]" value="{$pdinfo.paydate|date_format:'%Y/%m/%d'}"
                            placeholder="{trans('yyyy/mm/dd')}"
                            {tip class="lms-ui-date" text="Enter pay document date in YYYY/MM/DD format or click to select it from calendar" trigger="paydate"}>
                    </td>
                </tr>
                <tr>
                    <td class="nobr">
                        {icon name="description" label="Description"}
                    </td>
                    <td>
                        <input type="text" id="dialog-description" name="addpd[description]" value="{$pdinfo.description|escape}">
                    </td>
                </tr>
                <tr>
                    <td class="nobr">
                        {icon name="deadline" label="Deadline"}
                    </td>
                    <td>
                        <input
                            type="text" id="dialog-deadline" name="addpd[deadline]" value="{$pdinfo.deadline|date_format:'%Y/%m/%d'}"
                            placeholder="{trans('yyyy/mm/dd')}"
                            {tip class="lms-ui-date" text="Enter deadline in YYYY/MM/DD format or click to select it from calendar" trigger="deadline"}
                            required>
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="customer" label="Supplier"}
                    </td>
                    <td>
                        <select id="dialog-supplierid" name="addpd[supplierid]" onChange="updateAdvancedSelects( '#dialog-supplierid' )"
                            class="lms-ui-advanced-select" required>
                            <option value="">{trans("Select supplier")}</option>
                            {foreach $supplierslist as $s}
                            <option value="{$s.id}" {if $s.id == $pdinfo.supplierid} selected{/if}>{$s.lastname|trunescape:"25"}</option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="invproject" label="Inv. Project"}
                    </td>
                    <td>
                        <select id="dialog-invprojects" name="addpd[invprojects][]" class="lms-ui-advanced-select" multiple>
                            {foreach $projectslist as $p}
                                <option value="{$p.id}" {foreach $pdinfo.projects as $a}{if $a.id == $p.id} selected{/if}{/foreach}>{$p.name|trunescape:"25"}</option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="nobr">
                        {icon name="attachment" label="Attachments"}
                    </td>
                    <td>
                        {fileupload id="files" fileupload=$fileupload form="addpd-form"}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="button-bar text-center">
                        {button id="submit-modal-button" type="submit" label="{if $action == 'modify'}Submit{else}Add{/if}" icon="submit"}
                        {button label="Cancel" icon="cancel" id="close"}
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
</div>

<script>
    $( "#addpdmodal" ).dialog( {
        autoOpen: {if $action}true{else}false{/if},
        resizable: false,
        width: 'auto',
        modal: true,
        title: "{if $action == 'modify'}{trans("Modify purchase document")} {$pdinfo.id}{else}{trans("Add purchase document")}{/if}"
    });

    $( "#close" ).click(function() {
        $( "#addpdmodal" ).dialog( "close" );
    });

    function open_add_dialog() {
        $( "#addpd-form" ).attr('action', '?m=pdlist&action=add');
        $( "#addpd-form" )[0].reset();
        $( "#submit-modal-button" ).html('<i class="lms-ui-icon-submit"></i><span class="lms-ui-label">{trans("Add")}</span>');
        $( "#dialog-id", "#dialog-typeid", "#dialog-fullnumber", "#dialog-netvalue", "#dialog-grossvalue", "#dialog-sdate", "#dialog-deadline", "#dialog-paydate", "#dialog-description", "#dialog-supplierid", "#dialog-invprojects" ).val('');
        updateAdvancedSelects("#dialog-typeid");
        $('#dialog-supplierid option:selected').removeAttr('selected');
        updateAdvancedSelects("#dialog-supplierid");
        $('#dialog-invprojects option:selected').removeAttr('selected');
        updateAdvancedSelects("#dialog-invprojects");
        $( "#addpdmodal" ).dialog( "option", "title", "{trans("Add purchase document")}").dialog( "open" );
    };

    function open_modify_dialog (template_id) {
        $( "#submit-modal-button" ).html('<i class="lms-ui-icon-submit"></i><span class="lms-ui-label">{trans("Submit")}</span>');
        $( "#addpd-form" ).attr('action', '?m=pdlist&action=modify&id=' + template_id);

        if (template_id) {
            var row = $('[data-template-id=' + template_id + ']');
            $("#dialog-typeid").val($(row).find("[data-template-typeid]").attr('data-template-typeid'));
            updateAdvancedSelects("#dialog-typeid");
            $("#dialog-fullnumber").val($(row).find("[data-template-fullnumber]").attr('data-template-fullnumber'));
            $("#dialog-netvalue").val($(row).find("[data-template-netvalue]").attr('data-template-netvalue'));
            $("#dialog-grossvalue").val($(row).find("[data-template-grossvalue]").attr('data-template-grossvalue'));
            $("#dialog-sdate").val($(row).find("[data-template-sdate]").attr('data-template-sdate'));
            $("#dialog-deadline").val($(row).find("[data-template-deadline]").attr('data-template-deadline'));
            $("#dialog-paydate").val($(row).find("[data-template-paydate]").attr('data-template-paydate'));
            $("#dialog-description").val($(row).find("[data-template-description]").attr('data-template-description'));
            var selectedsupplier = $(row).find("[data-template-supplierid]").attr('data-template-supplierid');
            $('#dialog-supplierid option').removeAttr('selected');
            $("#dialog-supplierid option[value='" + selectedsupplier + "']").attr("selected", "true");
            $("#dialog-supplierid").val( selectedsupplier );
            $("#dialog_supplierid_chosen").removeClass("lms-ui-error");
            updateAdvancedSelects("#dialog-supplierid");

            var assignedprojects = $(row).find("[data-template-invprojects]").attr('data-template-invprojects');
            var match = assignedprojects.split(";");
            $('#dialog-invprojects option:selected').removeAttr('selected');
            match.forEach(function(item) {
                $("#dialog-invprojects option[value='" + item + "']").attr("selected", "true");
            });
            updateAdvancedSelects("#dialog-invprojects");
        }
        $( "#addpdmodal" ).dialog( "option", "title", "{trans("Modify purchase document")} " + template_id).dialog( "open" );
    };
</script>
