<style>
    #addpdmodal {
    display: flex;
    padding-left: 10px;
    overflow: visible;
    overflow: visible;
    }

    table#documentaddtable input {
        margin-top: 5px;
    }

    #disabled_class {
        color: grey;
    }

    input.netcurrencyvalue-input, input.grosscurrencyvalue-input {
        width: 9em;
    }

    input.amount-input {
        width: 4em;
    }

    select.tax_rate_selection {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    input#dialog-iban {
        width: 20em;
    }

    .button-bar {
        padding-top: 20px;
    }

    .hidden {
        display: none;
    }

    .pdf-loaded {
        padding-left: 2em;
        flex: 0 0 50%;
    }
</style>

<div id="addpdmodal" class="lms-ui-modal-dialog">
    <div id="column1">
        <form method="POST" action="?m=pdlist&action={if !isset($action) || $action == 'add'}add{else}modify&id={$pdinfo.id}{/if}"
              name="addpd" id="addpd-form">
            <h2>{trans("Purchase Document")}</h2>
            <table id="documentaddtable">
                <tbody>
                    {if isset($action) && $action == 'modify'}
                        <tr>
                            <td>
                                <input type="text" name="addpd[id]" value="{if isset($pdinfo.id)}{$pdinfo.id}{/if}" hidden>
                            </td>
                        </tr>
                    {/if}
                    <tr>
                        <td>
                            {icon name="division" label="Division"}
                        </td>
                        <td>
                            {division_selection
                                id='dialog-divisionid'
                                name='addpd[divisionid]'
                                selected=$default_divisionid
                                required=true
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {icon name="description" label="Document type"}
                        </td>
                        <td>
                            <select id="dialog-typeid" name="addpd[typeid]" class="lms-ui-advanced-select" data-default-value="0" required>
                                <option {if empty($default_document_typeid)}selected{/if}>{trans("undefined")}</option>
                                {if !empty($typeslist)}
                                    {foreach $typeslist as $type}
                                    <option value="{$type.id}" {if $type.id == $default_document_typeid}selected{/if}>{$type.name|trunescape:"25"}</option>
                                    {/foreach}
                                {/if}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {icon name="customer" label="Supplier"}
                        </td>
                        <td>
                            {customerlist
                                version=2
                                required=true
                                form='addpd-form'
                                input_id='dialog-supplierid'
                                inputname='addpd[supplierid]'
                                data_default_value=''
                                selectname='customer-select'
                                selected=$pdinfo.supplierid
                                customOnChange='show_hide_customeraddbtn()'
                            }
                            <div id="customeraddbtn">
                                {button label='Add' icon='add' onclick="window.open('?m=customeradd&target=_blank')" tip='Add customer'}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {icon name="summary" label="Document number"}
                        </td>
                        <td>
                            <input type="text" id="dialog-fullnumber" name="addpd[fullnumber]"
                                value="{if isset($pdinfo.fullnumber)}{$pdinfo.fullnumber}{/if}"
                                placeholder="{trans("Document number")}" required autocomplete="off">
                                {icon id="dialog-duplicate-checker" class='hidden'}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {icon name="timetable" label="Document date"}
                        </td>
                        <td>
                            <input
                                type="text" id="dialog-sdate" name="addpd[sdate]" placeholder="{trans('yyyy/mm/dd')}"
                                value="{if isset($pdinfo.sdate)}{$pdinfo.sdate|date_format:'%Y/%m/%d'}{/if}" required autocomplete="off"
                                {tip class="lms-ui-date" text="Enter document date in YYYY/MM/DD format or click to select it from calendar"}>
                            {day_selection elem='#dialog-sdate' days='0,-1,-2,-3,-4,-5'}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {icon name="money" label="Document currency"}
                        </td>
                        <td>
                            {currency_selection
                              selected=$default_currency
                              elemid='dialog-currency'
                              elementname='addpd[currency]'
                            }
                        </td>
                    </tr>
                    <tr id="dialog-vatinpln-tr">
                        <td>
                            {icon name="money" label="VAT value in PLN"}
                        </td>
                        <td>
                            <input type="number" id="dialog-vatplnvalue" name="addpd[vatplnvalue]" value="{$pdinfo.plnvatvalue}"
                                autocomplete="off" {tip text="Document VAT value in PLN"}>
                        </td>
                    </tr>
                    <tr>
                        <td class="nobr">
                            {icon name="paytype" label="Payment type"}
                        </td>
                        <td>
                            {paytypes
                                elemname='addpd[paytype]'
                                id='dialog-paytype'
                                selected=$default_paytype
                                required=true
                            }
                        </td>
                    </tr>
                    <tr id="dialog-iban-tr">
                        <td class="nobr">
                            {icon name="cash" label="IBAN"}
                        </td>
                        <td>
                            {button id="import_iban_button" icon="money" tip="import from MF whitelist" onclick="fill_iban()"}
                            <input type="text" minlength="28" name="addpd[iban]" id="dialog-iban" value="{if isset($pdinfo.iban)}{$pdinfo.iban}{/if}" required data-default-value='' autocomplete="off"><br>
                            <span class="nobr" id="bankaccounts-container"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="nobr">
                            {icon name="deadline" label="Deadline"}
                        </td>
                        <td>
                            <input id="dialog-deadline" type="text" name="addpd[deadline]" autocomplete="off"
                                value="{if isset($pdinfo.deadline)}{$pdinfo.deadline|date_format:'%Y/%m/%d'}{/if}" required
                                size="20" placeholder="{trans('yyyy/mm/dd')}"
                                {tip class="lms-ui-date" text="Enter deadline in YYYY/MM/DD format or click to select it from calendar" trigger="deadline"}>
                            {day_selection elem="#dialog-deadline" days="0,3,7,10,14,21"}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {icon name="money" label="Pay date"}
                        </td>
                        <td>
                            <input
                                type="text" id="dialog-paydate" name="addpd[paydate]" placeholder="{trans('yyyy/mm/dd')}"
                                value="{if isset($pdinfo.paydate)}{$pdinfo.paydate|date_format:'%Y/%m/%d'}{/if}" autocomplete="off"
                                {tip class="lms-ui-date" text="Enter the payment date in YYYY/MM/DD format or click to select it from calendar" trigger="paydate"}>
                        </td>
                    </tr>
                    <tr id="filecontainer">
                        <td class="nobr">
                            {icon name="attachment" label="Attachments"}
                        </td>
                        <td>
                            {if isset($attid)}
                                {icon name="upload" label="{$anteroom.$attid.name}"}
                                <input type="hidden" name="addpd[attid]" value="{$anteroom.$attid.id}">
                            {else}
                                {fileupload
                                    id='files'
                                    fileupload=$pdinfo.files
                                    form='addpd-form'
                                    view_selector='herewillbethepdf'
                                    multiple=false
                                }
                            {/if}
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2>{trans("Expences")}</h2>

            <table id="expencestable">
                <tbody>
                    <tr class="expencesrow" id="expence0">
                        <td>
                            <span class="nobr">
                                {icon name="value" tip="Value"}
                                <input class="netcurrencyvalue-input" onchange="convert_expence_values(this.id)" step=".01" type="number"
                                    id="dialog-netcurrencyvalue0" name="addpd[expenses][0][netcurrencyvalue]" autocomplete="off"
                                    value="{if isset($pdinfo) && $pdinfo.netcurrencyvalue|rtrim:'0'|rtrim:'.'}{/if}"
                                    placeholder="{trans('Unit net price')}" required>
                                {tax_rate_selection
                                    id='dialog-taxid0'
                                    name='addpd[expenses][0][taxid]'
                                    icon="empty"
                                    tip='Tax rate'
                                    class='tax_rate_selection'
                                    customonchange="convert_expence_values(this.id)"
                                    required=true
                                }
                                <input class="grosscurrencyvalue-input" onchange="convert_expence_values(this.id)" step=".01" type="number"
                                    id="dialog-grosscurrencyvalue0" name="addpd[expenses][0][grosscurrencyvalue]" autocomplete="off"
                                    value="{if isset($pdinfo) && $pdinfo.grosscurrencyvalue|rtrim:'0'|rtrim:'.'}{/if}"
                                    placeholder="{trans('Gross value')}" required>
                                <input class="amount-input" onchange="convert_expence_values(this.id)" step=".01" type="number"
                                    id="dialog-amount0" name="addpd[expenses][0][amount]" autocomplete="off"
                                    value="{if isset($pdinfo)}{$pdinfo.amount}{else}1{/if}" placeholder="{trans('Amount')}" required {tip text="Amount"}>
                                {icon name="description" tip="Description"}
                                <input type="text" id="dialog-description0" name="addpd[expenses][0][description]"
                                    value="{if isset($pdinfo.description)}{$pdinfo.description|escape}{/if}" size="40"
                                    autocomplete="off" placeholder="{trans('Description')}">
                            </span>
                            <span class="nobr">
                                {icon name="invproject" tip="Inv. Project"}
                                <select id="dialog-invprojects0" name="addpd[expenses][0][invprojects][]" class="lms-ui-advanced-select" multiple>
                                    {if isset($projectslist)}
                                        {foreach $projectslist as $p}
                                            <option value="{$p.id}">{$p.name|trunescape:"25"}</option>
                                        {/foreach}
                                    {/if}
                                </select>
                                {icon name="categories" tip="Categories"}
                                <select id="dialog-categories0" name="addpd[expenses][0][categories][]" class="lms-ui-advanced-select" multiple>
                                    {if isset($categorylist)}
                                        {foreach $categorylist as $p}
                                            <option value="{$p.id}">{$p.name|trunescape:"25"}</option>
                                        {/foreach}
                                    {/if}
                                </select>
                                {button id="btnclone0" icon="clone" tip="Clone" class="clonebtn" onClick="clone_expence_row(this.id)"}
                                {button id="btnremove0" icon="remove" tip="Remove" class="removebtn" onClick="delete_nearest_tr(this.id)"}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            {button id="submit-modal-button" type="submit" label="Submit" icon="submit"}
            {button label="Cancel" icon="cancel" id="close"}
            {button icon="add" label="Add empty row" tip="Add empty row" id="addrow" onClick="add_expence_row('expencestable')"}
            {button icon="clear" label="Clear" id="clearform" onClick="clear_pd_form('addpd-form')"}
        </form>
    </div>
    <div id="column2" class="hidden"></div>
</div>

{include file="../js/shared.js"}
{include file="../js/pdlist.js"}
