{$default_taxid = ConfigHelper::getConfig('pd.default_taxid')}
{$default_paytype = ConfigHelper::getConfig('pd.default_paytype', 2)}

<style>
    #addpdmodal {
        overflow: visible;
    }
    input {
        margin-top: 5px;
    }
    .button-bar {
        padding-top: 20px;
    }
    .hidden {
        display: none;
    }
</style>

<div id="addpdmodal" class="lms-ui-modal-dialog">
    <form method="POST" action="?m=pdlist&action={if $action == 'modify'}modify&id={$pdinfo.id}{else}add{/if}"
              name="addpd" id="addpd-form">
        <h2>{trans("Purchase Document")}</h2>
        <table>
            <tbody>
                {if $action == 'modify'}
                    <tr>
                        <td>
                            <input type="text" name="addpd[id]" value="{$pdinfo.id}" hidden>
                        </td>
                    </tr>
                {/if}
                <tr>
                    <td>
                        {icon name="description" label="Type"}
                    </td>
                    <td>
                        <select id="dialog-typeid" name="addpd[typeid]" class="lms-ui-advanced-select">
                            {foreach $typeslist as $pd}
                            <option value="{$pd.id}" {if $pdinfo.typeid == $pd.id || $pd.defaultflag == 't'} selected{/if}>{$pd.name|trunescape:"25"}</option>
                            {/foreach}
                            <option value="">{trans("undefined")}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="summary" label="Document number"}
                    </td>
                    <td>
                        <input type="text" id="dialog-fullnumber" name="addpd[fullnumber]" value="{$pdinfo.fullnumber}" placeholder="{trans("Document number")}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="timetable" label="Document date"}
                    </td>
                    <td>
                        <input
                            type="text" id="dialog-sdate" name="addpd[sdate]" value="{$pdinfo.sdate|date_format:'%Y/%m/%d'}"
                            placeholder="{trans('yyyy/mm/dd')}"
                            {tip class="lms-ui-date" text="Enter document date in YYYY/MM/DD format or click to select it from calendar"}
                            required>
                        {day_selection elem='[name="addpd[sdate]"]' from_selector="#dialog-sdate" days="0,-1,-2,-3"}
                    </td>
                </tr>
                <tr>
                    <td class="nobr">
                        {icon name="paytype" label="Payment type"}
                    </td>
                    <td>
                        {paytypes elemname="addpd[paytype]" id="dialog-paytype" selected=$default_paytype required="true" onchange="change_pay_type(this.id)"}
                    </td>
                </tr>
                <tr id="dialog-iban-tr">
                    <td class="nobr">
                        {icon name="cash" label="IBAN"}
                    </td>
                    <td>
                        <input type='text' name="addpd[iban]" id="dialog-iban" required>
                    </td>
                </tr>
                <tr>
                    <td class="nobr">
                        {icon name="deadline" label="Deadline"}
                    </td>
                    <td>
                        <input id="dialog-deadline" type="text" name="addpd[deadline]" value="{$pdinfo.deadline|date_format:"%Y/%m/%d"}" size="20" placeholder="{trans('yyyy/mm/dd')}" {tip class="lms-ui-date" text="Enter deadline in YYYY/MM/DD format or click to select it from calendar" trigger="deadline"} required>
                        {day_selection elem='[name="addpd[deadline]"]' from_selector="#dialog-sdate" days="7,10,14,21"}
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="customer" label="Supplier"}
                    </td>
                    <td>
                        <select id="dialog-supplierid" name="addpd[supplierid]" onChange="updateAdvancedSelects( '#dialog-supplierid' )"
                            class="lms-ui-advanced-select" required>
                            <option value="">{trans("Select supplier")}</option>
                            {foreach $supplierslist as $s}
                            <option value="{$s.id}" {if $s.id == $pdinfo.supplierid} selected{/if}>{$s.lastname|trunescape:"25"}</option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="money" label="Pay date"}
                    </td>
                    <td>
                        <input
                            type="text" id="dialog-paydate" name="addpd[paydate]" value="{$pdinfo.paydate|date_format:'%Y/%m/%d'}"
                            placeholder="{trans('yyyy/mm/dd')}"
                            {tip class="lms-ui-date" text="Enter pay document date in YYYY/MM/DD format or click to select it from calendar" trigger="paydate"}>
                    </td>
                </tr>
                <tr id="filecontainer">
                    <td class="nobr">
                        {icon name="attachment" label="Attachments"}
                    </td>
                    <td>
                        {fileupload id="files" fileupload=$fileupload form="addpd-form"}
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>{trans("Expence")}</h2>

        <table id="expencestable">
            <tbody>
                <tr class="expencesrow" id="expence0">
                    <td>
                        {icon name="value" tip="Net value"}
                        <input type="text" id="dialog-netvalue0" name="addpd[expenses][0][netvalue]" value="{$pdinfo.netvalue|rtrim:'0'|rtrim:'.'}" placeholder="{trans('Net value')}" required>
                        {icon name="value" tip="Tax rate"}
                        <select id="dialog-taxid0" name="addpd[expenses][0][taxid]" required>
                            {foreach $taxrates as $t}
                                <option value="{$t.id}" {if $t.id == $default_taxid}selected{/if}>
                                    {$t.label} ({$t.value|string_format:"%d"}%)
                               </option>
                           {/foreach}
                        </select>
                        {icon name="description" tip="Description"}
                        <input type="text" id="dialog-description0" name="addpd[expenses][0][description]" value="{$pdinfo.description|escape}" size="40" placeholder="{trans('Description')}">
                        {icon name="invproject" tip="Inv. Project"}
                        <select id="dialog-invprojects0" name="addpd[expenses][0][invprojects][]" class="lms-ui-advanced-select" multiple>
                            {foreach $projectslist as $p}
                                <option value="{$p.id}">{$p.name|trunescape:"25"}</option>
                            {/foreach}
                        </select>
                        {icon name="categories" tip="Categories"}
                        <select id="dialog-categories0" name="addpd[expenses][0][categories][]" class="lms-ui-advanced-select" multiple>
                            {foreach $categorylist as $p}
                                <option value="{$p.id}">{$p.name|trunescape:"25"}</option>
                            {/foreach}
                        </select>
                        {button icon="remove" id="expence0" onClick="delete_table_row('expencestable', this.id)"}
                    </td>
                </tr>
            </tbody>
        </table>
        {button id="submit-modal-button" type="submit" label="Submit" icon="submit"}
        {button label="Cancel" icon="cancel" id="close"}
        {button icon="add" tip="Add row" id="addrow" onClick="clone_element_increment_id('expencestable')"}
        </form>
</div>

<script>
    let lastCostCounter = 1;

    $( "#addpdmodal" ).dialog( {
        autoOpen: {if $action == 'add' || $action == 'modify'}true{else}false{/if},
        resizable: false,
        width: 'auto',
        height: 'auto',
        modal: true,
        title: "{if $action == 'modify'}{trans("Modify purchase document.")} {$pdinfo.id}{else}{trans("Add purchase document")}{/if}"
    });

    $( "#close" ).click(function() {
        $( "#addpdmodal" ).dialog( "close" );
    });

    function open_add_dialog() {
        $( "#addpd-form" ).attr('action', '?m=pdlist&action=add');
        $( "#addpd-form" )[0].reset();
        $( ".cloned" ).remove();
        $( "#submit-modal-button" ).html('<i class="lms-ui-icon-submit"></i><span class="lms-ui-label">{trans("Add")}</span>');
        $( "#dialog-id", "#dialog-typeid", "#dialog-fullnumber", "#dialog-netvalue0", "#dialog-sdate", "#dialog-deadline", "#dialog-paydate", "#dialog-description0", "#dialog-supplierid", "#dialog-invprojects1" ).val('');
        $('#dialog-taxid0 option').removeAttr('selected');
        $("#dialog-taxid0 option[value='" + {$default_taxid} + "']").attr("selected", "true");
        $("#dialog-taxid0").val( {$default_taxid} );
        $('#dialog-paytype option').removeAttr('selected');
        $("#dialog-paytype option[value='" + {$default_paytype} + "']").attr("selected", "true");
        $("#dialog-paytype").val( {$default_paytype} );
        updateAdvancedSelects("#dialog-typeid");
        $('#dialog-supplierid option:selected').removeAttr('selected');
        updateAdvancedSelects("#dialog-supplierid");
        $('#dialog-invprojects0 option:selected').removeAttr('selected');
        updateAdvancedSelects("#dialog-invprojects0");
        $('#dialog-categories0 option:selected').removeAttr('selected');
        updateAdvancedSelects("#dialog-categories0");
        $( "#addpdmodal" ).dialog( "option", "title", "{trans("Add purchase document")}").dialog( "open" );
        $( "#filecontainer").removeClass('hidden');
        change_pay_type('dialog-paytype');
    };

    function get_ajax_pdinfo(id){
        var response = $.get({
            url: '?m=pdlist',
            type: 'GET',
            dataType: "json",
            async: false,
            data: "pdid=" + id,
        });
        return response.responseJSON;
    };

    function open_modify_dialog (template_id) {
        $( "#submit-modal-button" ).html('<i class="lms-ui-icon-submit"></i><span class="lms-ui-label">{trans("Submit")}</span>');
        $( "#addpd-form" ).attr('action', '?m=pdlist&action=modify&id=' + template_id);

        if (template_id) {
            var pd = get_ajax_pdinfo(template_id);
            $("#dialog-typeid").val(pd.typeid).attr('data-template-typeid');
            updateAdvancedSelects("#dialog-typeid");

            $("#dialog-deadline").val(pd.deadline_formatted);
            $("#dialog-fullnumber").val(pd.fullnumber);
            $("#dialog-sdate").val(pd.sdate_formatted);
            $("#dialog-paydate").val(pd.paydate_formatted);

            $("#dialog-paytype option").removeAttr('selected');
            $("#dialog-paytype").val( pd.paytype );
            $("#dialog-paytype option[value='" + pd.paytype + "']").attr("selected", "true");
            $("#dialog-iban").val( pd.iban );
            change_pay_type('dialog-paytype');

            $('#dialog-supplierid option').removeAttr('selected');
            $("#dialog-supplierid option[value='" + pd.supplierid + "']").attr("selected", "true");
            $("#dialog-supplierid").val( pd.supplierid );
            $("#dialog_supplierid_chosen").removeClass("lms-ui-error");
            updateAdvancedSelects("#dialog-supplierid");

            $( ".cloned" ).remove();

            for (let index = 0; index < pd.expences_count; index++) {
                if (index != 0) {
                    clone_element_increment_id('expencestable');
                };

                $("#dialog-netvalue" + index).val(pd.expences[index].netvalue);
                $("#dialog-taxid" + index).val(pd.expences[index].taxid);
                $("#dialog-taxid" + index + " option[value='" + pd.expences[index].taxid + "']").attr("selected", "true");
                $("#dialog-description" + index).val(pd.expences[index].description);

                var invprojects_itemname = '#dialog-invprojects' + index;
                $( invprojects_itemname + ' option:selected').removeAttr('selected');
                if (pd.expences[index].invprojects) {
                    for (let idx = 0, len = pd.expences[index].invprojects.length; idx < len; idx++) {
                        makeMultiselectOptionsSelectedUsingValue(invprojects_itemname, pd.expences[index].invprojects[idx].invprojectid);
                    }
                }
                if (index == 0) {
                    updateAdvancedSelects( invprojects_itemname );
                } else {
                    initAdvancedSelects( invprojects_itemname );
                }

                var categories_itemname = '#dialog-categories' + index;
                if (pd.expences[index].categories) {
                    for (let idx = 0, len = pd.expences[index].categories.length; idx < len; idx++) {
                        makeMultiselectOptionsSelectedUsingValue(categories_itemname, pd.expences[index].categories[idx].categoryid);
                    }
                }
                if (index == 0) {
                    updateAdvancedSelects( categories_itemname );
                } else {
                    initAdvancedSelects( categories_itemname );
                }
            }
        }

        $( "#addpdmodal" ).dialog( "option", "title", "{trans("Modify purchase document")} " + template_id).dialog( "open" );
        $( "#filecontainer").addClass('hidden');
    };

    function makeMultiselectOptionsSelectedUsingValue(selectid, value) {
      $( selectid + ' option[value="' + value + '"]').attr('selected','true');
    }

    function increaseStringValue(str){
      if (!str) {
          return;
      }
      return str.replaceAll(/\d+/ig,
        function(a){ return +a+1;});
    }

    function increaseIdNameInAllEl(elem) {
        var elementList = elem.querySelectorAll("select, input, tr, button");
        for (let i = 0; i < elementList.length; i++) {
          elementList[i].setAttribute("id", increaseStringValue(elementList[i].getAttribute('id')));
          elementList[i].setAttribute("name", increaseStringValue(elementList[i].getAttribute('name')));
        }
        elem.setAttribute("id", increaseStringValue(elem.getAttribute('id')));
    }

    function clone_element_increment_id(elem) {
        var kopia = document.getElementById(elem).lastElementChild.lastElementChild.cloneNode(true);
        kopia.classList.add("cloned");
        kopia.querySelectorAll('div.lms-ui-advanced-select').forEach(e => e.remove());
        kopia.querySelectorAll('select.lms-ui-advanced-select').forEach(e => e.style = null);
        kopia.querySelectorAll('select.lms-ui-advanced-select').forEach(e => initAdvancedSelects(e));
        increaseIdNameInAllEl(kopia);
        document.getElementById(elem).lastElementChild.lastElementChild.after(kopia);
    };

    function delete_table_row (tableid, trid) {
        var rowscount = document.getElementById(tableid).rows.length;
        if (rowscount > 1) {
            document.getElementById(trid).remove();
        } else {
            alert($t("Could not remove only row"));
        }
    }

    function change_pay_type(elemid) {
        var elem = document.getElementById(elemid);
        var paytype = elem.value;
        var iban = document.getElementById("dialog-iban-tr");
        var ibaninput = document.getElementById("dialog-iban");

        if (paytype != 2 && paytype != 3) {
            iban.style.visibility = 'hidden';
            ibaninput.removeAttribute('required');
            if (paytype == 1) {
                var paydate = document.getElementById("dialog-paydate");
                var sdate = document.getElementById("dialog-sdate").value;
                paydate.value = sdate;
            }
        } else {
            iban.style.visibility = '';
            ibaninput.setAttribute('required','');
        }
    }
</script>
