{$default_taxid = ConfigHelper::getConfig('pd.default_taxid')}
{$default_paytype = ConfigHelper::getConfig('pd.default_paytype', 2)}

<style>
    #addpdmodal {
        overflow: visible;
    }
    input {
        margin-top: 5px;
    }
    .button-bar {
        padding-top: 20px;
    }
    .hidden {
        display: none;
    }
</style>

<div id="addpdmodal" class="lms-ui-modal-dialog">
    <form method="POST" action="?m=pdlist&action={if $action == 'modify'}modify&id={$pdinfo.id}{else}add{/if}"
              name="addpd" id="addpd-form">
        <h2>{trans("Purchase Document")}</h2>
        <table>
            <tbody>
                {if $action == 'modify'}
                    <tr>
                        <td>
                            <input type="text" name="addpd[id]" value="{$pdinfo.id}" hidden>
                        </td>
                    </tr>
                {/if}
                <tr>
                    <td>
                        {icon name="description" label="Type"}
                    </td>
                    <td>
                        <select id="dialog-typeid" name="addpd[typeid]" class="lms-ui-advanced-select">
                            {foreach $typeslist as $pd}
                            <option value="{$pd.id}" {if $pdinfo.typeid == $pd.id || $pd.defaultflag == 't'} selected{/if}>{$pd.name|trunescape:"25"}</option>
                            {/foreach}
                            <option value="">{trans("undefined")}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="summary" label="Document number"}
                    </td>
                    <td>
                        <input type="text" id="dialog-fullnumber" name="addpd[fullnumber]" value="{$pdinfo.fullnumber}" placeholder="{trans("Document number")}" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="timetable" label="Document date"}
                    </td>
                    <td>
                        <input
                            type="text" id="dialog-sdate" name="addpd[sdate]" value="{$pdinfo.sdate|date_format:'%Y/%m/%d'}"
                            placeholder="{trans('yyyy/mm/dd')}"
                            {tip class="lms-ui-date" text="Enter document date in YYYY/MM/DD format or click to select it from calendar"}
                            required>
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="money" label="Pay date"}
                    </td>
                    <td>
                        <input
                            type="text" id="dialog-paydate" name="addpd[paydate]" value="{$pdinfo.paydate|date_format:'%Y/%m/%d'}"
                            placeholder="{trans('yyyy/mm/dd')}"
                            {tip class="lms-ui-date" text="Enter pay document date in YYYY/MM/DD format or click to select it from calendar" trigger="paydate"}>
                    </td>
                </tr>
                <tr>
                    <td class="nobr">
                        {icon name="deadline" label="Deadline"}
                    </td>
                    <td>
                        <input id="dialog-deadline" type="text" name="addpd[deadline]" value="{$pdinfo.deadline|date_format:"%Y/%m/%d"}" size="20" placeholder="{trans('yyyy/mm/dd')}" {tip class="lms-ui-date" text="Enter deadline in YYYY/MM/DD format or click to select it from calendar" trigger="deadline"} required> {day_selection elem='[name="addpd[deadline]"]' from_selector="#dialog-sdate" days="7,10,14,21"}
                    </td>
                </tr>
                <tr>
                    <td class="nobr">
                        {icon name="paytype" label="Payment type"}
                    </td>
                    <td>
                        {paytypes elemname="addpd[paytype]" id="dialog-paytype" selected=$pdinfo.paytype required="true"}
                    </td>
                </tr>
                <tr>
                    <td>
                        {icon name="customer" label="Supplier"}
                    </td>
                    <td>
                        <select id="dialog-supplierid" name="addpd[supplierid]" onChange="updateAdvancedSelects( '#dialog-supplierid' )"
                            class="lms-ui-advanced-select" required>
                            <option value="">{trans("Select supplier")}</option>
                            {foreach $supplierslist as $s}
                            <option value="{$s.id}" {if $s.id == $pdinfo.supplierid} selected{/if}>{$s.lastname|trunescape:"25"}</option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr id="filecontainer">
                    <td class="nobr">
                        {icon name="attachment" label="Attachments"}
                    </td>
                    <td>
                        {fileupload id="files" fileupload=$fileupload form="addpd-form"}
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>{trans("Expence")}</h2>

        <table id="expencestable">
            <tbody>
                <tr class="expencesrow">
                    <td>
                        {icon name="value" tip="Net value"}
                        <input type="text" id="dialog-netvalue1" name="addpd[netvalue][1]" value="{$pdinfo.netvalue|rtrim:'0'|rtrim:'.'}" placeholder="{trans('Net value')}" required>
                        {icon name="value" tip="Tax rate"}
                        <select id="dialog-taxid1" name="addpd[taxid][1]" required>
                            {foreach $taxrates as $t}
                                <option value="{$t.id}" {if $t.id == $default_taxid}selected{/if}>
                                    {$t.label} ({$t.value|string_format:"%d"}%)
                               </option>
                           {/foreach}
                        </select>
                        {icon name="description" tip="Description"}
                        <input type="text" id="dialog-description1" name="addpd[description][1]" value="{$pdinfo.description|escape}" size="40" placeholder="{trans('Description')}">
                        {icon name="invproject" tip="Inv. Project"}
                        <select id="dialog-invprojects1" name="addpd[invprojects][1][]" class="lms-ui-advanced-select" multiple>
                            {foreach $projectslist as $p}
                                <option value="{$p.id}" {foreach $pdinfo.invprojects as $a}{if $a.id == $p.id} selected{/if}{/foreach}>{$p.name|trunescape:"25"}</option>
                            {/foreach}
                        </select>
                        {icon name="categories" tip="Categories"}
                        <select id="dialog-categories1" name="addpd[categories][1][]" class="lms-ui-advanced-select" multiple>
                            {foreach $categorylist as $p}
                                <option value="{$p.id}"
                                    {foreach $pdinfo.categories as $a}
                                        {if $a.id == $p.id} selected{/if}
                                    {/foreach}>
                                    {$p.name|trunescape:"25"}
                                </option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        {button id="submit-modal-button" type="submit" label="Submit" icon="submit"}
        {button label="Cancel" icon="cancel" id="close"}
        {button icon="add" tip="Add row" id="addrow" onClick="clone_element_increment_id('expencestable')"}
        </form>
</div>

<script>
    let lastCostCounter = 1;

    $( "#addpdmodal" ).dialog( {
        autoOpen: {if $action == 'add' || $action == 'modify'}true{else}false{/if},
        resizable: false,
        width: 'auto',
        height: 'auto',
        modal: true,
        title: "{if $action == 'modify'}{trans("Modify purchase document")} {$pdinfo.id}{else}{trans("Add purchase document")}{/if}"
    });

    $( "#close" ).click(function() {
        $( "#addpdmodal" ).dialog( "close" );
    });

    function open_add_dialog() {
        $( "#addpd-form" ).attr('action', '?m=pdlist&action=add');
        $( "#addpd-form" )[0].reset();
        $( "#submit-modal-button" ).html('<i class="lms-ui-icon-submit"></i><span class="lms-ui-label">{trans("Add")}</span>');
        $( "#dialog-id", "#dialog-typeid", "#dialog-fullnumber", "#dialog-netvalue", "#dialog-sdate", "#dialog-deadline", "#dialog-paydate", "#dialog-description", "#dialog-supplierid", "#dialog-invprojects" ).val('');
        $('#dialog-taxid option').removeAttr('selected');
        $("#dialog-taxid option[value='" + {$default_taxid} + "']").attr("selected", "true");
        $("#dialog-taxid").val( {$default_taxid} );
        $('#dialog-paytype option').removeAttr('selected');
        $("#dialog-paytype option[value='" + {$default_paytype} + "']").attr("selected", "true");
        $("#dialog-paytype").val( {$default_paytype} );
        updateAdvancedSelects("#dialog-typeid");
        $('#dialog-supplierid option:selected').removeAttr('selected');
        updateAdvancedSelects("#dialog-supplierid");
        $('#dialog-invprojects option:selected').removeAttr('selected');
        updateAdvancedSelects("#dialog-invprojects");
        $('#dialog-categories option:selected').removeAttr('selected');
        updateAdvancedSelects("#dialog-categories");
        $( "#addpdmodal" ).dialog( "option", "title", "{trans("Add purchase document")}").dialog( "open" );
        $( "#filecontainer").removeClass('hidden');
        $( ".cloned" ).remove();
    };

    function open_modify_dialog (template_id) {
        $( "#submit-modal-button" ).html('<i class="lms-ui-icon-submit"></i><span class="lms-ui-label">{trans("Submit")}</span>');
        $( "#addpd-form" ).attr('action', '?m=pdlist&action=modify&id=' + template_id);

        if (template_id) {
            var row = $('[data-template-id=' + template_id + ']');
            $("#dialog-typeid").val($(row).find("[data-template-typeid]").attr('data-template-typeid'));
            updateAdvancedSelects("#dialog-typeid");
            $("#dialog-deadline").val($(row).find("[data-template-deadline]").attr('data-template-deadline'));
            $("#dialog-fullnumber").val($(row).find("[data-template-fullnumber]").attr('data-template-fullnumber'));
            $("#dialog-netvalue").val($(row).find("[data-template-netvalue]").attr('data-template-netvalue'));
            $("#dialog-taxid").val($(row).find("[data-template-taxid]").attr('data-template-taxid'));
            $("#dialog-sdate").val($(row).find("[data-template-sdate]").attr('data-template-sdate'));
            var assigned_paytype = $(row).find("[data-template-paytype]").attr('data-template-paytype');
            $("#dialog-paytype option").removeAttr('selected');
            $("#dialog-paytype").val( assigned_paytype );
            $("#dialog-paytype option[value='" + assigned_paytype + "']").attr("selected", "true");
            $("#dialog-paydate").val($(row).find("[data-template-paydate]").attr('data-template-paydate'));
            $("#dialog-description").val($(row).find("[data-template-description]").attr('data-template-description'));
            var selectedsupplier = $(row).find("[data-template-supplierid]").attr('data-template-supplierid');
            $('#dialog-supplierid option').removeAttr('selected');
            $("#dialog-supplierid option[value='" + selectedsupplier + "']").attr("selected", "true");
            $("#dialog-supplierid").val( selectedsupplier );
            $("#dialog_supplierid_chosen").removeClass("lms-ui-error");
            updateAdvancedSelects("#dialog-supplierid");

            var assigned_invprojects = $(row).find("[data-template-invprojects]").attr('data-template-invprojects');
            var match = assigned_invprojects.split(";");
            $('#dialog-invprojects option:selected').removeAttr('selected');
            match.forEach(function(item) {
                $("#dialog-invprojects option[value='" + item + "']").attr("selected", "true");
            });
            updateAdvancedSelects("#dialog-invprojects");
            var assigned_categories = $(row).find("[data-template-categories]").attr('data-template-categories');
            var match = assigned_categories.split(";");
            $('#dialog-categories option:selected').removeAttr('selected');
            match.forEach(function(item) {
                $("#dialog-categories option[value='" + item + "']").attr("selected", "true");
            });
            updateAdvancedSelects("#dialog-categories");
        }
        $( "#addpdmodal" ).dialog( "option", "title", "{trans("Modify purchase document")} " + template_id).dialog( "open" );
        $( "#filecontainer").addClass('hidden');
    };

    function increaseStringValue(str){
      if (!str) {
          return str;
      }
      return str.replaceAll(/\d+/ig,
        function(a){ return a*1+1;});
    }

    function increaseIdNameInAllEl(elem) {
        var elementList = elem.querySelectorAll("select", "input");
        for (let i = 0; i < elementList.length; i++) {
            elementList[i].setAttribute("id", increaseStringValue(elementList[i].getAttribute('id')));
            elementList[i].setAttribute("name", increaseStringValue(elementList[i].getAttribute('name')));
        }
    }

    function clone_element_increment_id(elem) {
        var kopia = document.getElementById(elem).lastElementChild.lastElementChild.cloneNode(true);
        kopia.classList.add("cloned");
        increaseIdNameInAllEl(kopia);
        document.getElementById(elem).lastElementChild.lastElementChild.after(kopia);
    };

</script>
