{if !ConfigHelper::checkPrivilege('hide_sale')}
<table class="lmsbox" id="lms-ui-welcome-box-sale">
    <colgroup>
        <col style="width: 50%;">
        <col style="width: 50%;">
    </colgroup>
    <thead>
        <tr>
            <td colspan="1" class="text-center bold">
                <i class="lms-ui-icon-value"></i> {trans("Sale")}
            </td>
            <td colspan="1" class="text-center bold">
                <i class="lms-ui-icon-value"></i> {trans("Income")}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-right bold">
                        <table class="lmsbox lms-ui-background-cycle">
                            <thead>
                                <tr>
                                    <th>{t}month{/t}</th>
                                    <th>{t}invoices{/t}

<FORM method="GET" action="?m=pddashboard" name="filter" form="filter">
    <input type="submit" class="hiddenbtn">
    <select name="invoice" size="1" {tip text="Select tariff type" trigger="type"}  onChange="document.filter.submit();" class="lms-ui-advanced-select">
        <option value="all"{if $params.invoices == all} selected{/if}>{t}all{/t}</option>
    {foreach item=item from=$_SERVICETYPES key=key}
        <option value="{$key}"{if $params.invoices == $key} selected{/if}>{$item}</option>
    {/foreach}
    </select>
</FORM>

</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach from=$SalePerMonth item=i}
                                    <tr>
                                        <td>{$i.month}</td>
                                        <td>{$i.suma} zł</td>
                                    </tr>
                                {/foreach}
                            </tbody>
                        </table>
            </td>
            <td class="text-right bold">
                        <table class="lmsbox lms-ui-background-cycle">
                            <thead>
                                <tr>
                                    <th>{t}month{/t}</th>
                                    <th>{t}income{/t}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach from=$IncomePerMonth item=i}
                                    <tr>
                                        <td>{$i.month}</td>
                                        <td>{$i.suma} zł</td>
                                    </tr>
                                {/foreach}
                            </tbody>
                        </table>
            </td>
        </tr>
    </tbody>
</table>
{/if}
