{if !ConfigHelper::checkPrivilege('hide_summaries')}
<table class="lmsbox" id="lms-ui-welcome-box-suppliers">
    <colgroup>
        <col style="width: 50%;">
        <col style="width: 50%;">
    </colgroup>
    <thead>
        <tr>
            <td colspan="2" class="text-center bold nobr">
                <i class="lms-ui-icon-customer"></i> {trans("Suppliers:")}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-right bold">
                <a href="?m=customerlist&amp;s=0">{trans("Total:")}</a>
            </td>
            <td class="nobr">
                {$supplierstats.total}
            </td>
        </tr>
        {if ConfigHelper::checkConfig('privileges.superuser') || !ConfigHelper::checkConfig('privileges.hide_finances')}
        <tr>
            <td class="text-right bold">
                <a href="?m=customerlist&amp;s=52">{trans("Total Dues to:")}</a>
            </td>
            <td>
                {$supplierstats.debt} ({trans("amount")} {moneyf($supplierstats.debtvalue)})
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=customerlist&amp;s=52">{trans("Biggest debt:")}</a>
            </td>
            <td>
                {$supplierstats.biggestdebt} ({trans("amount")} {moneyf($supplierstats.debtvalue)})
            </td>
        </tr>
        {/if}
    </tbody>
</table>
{/if}
