{if !ConfigHelper::checkPrivilege('hide_summaries')}
<table class="lmsbox" id="lms-ui-welcome-box-summaries">
    <colgroup>
        <col style="width: 50%;">
        <col style="width: 50%;">
    </colgroup>
    <thead>
        <tr>
            <td colspan="2" class="text-center bold">
                <i class="lms-ui-icon-node"></i> {trans("Purchase documents in current month:")}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-right bold">
                <a href="">{trans("Payed:")}</a>
            </td>
            <td>
                {$pdstats.payed} ({trans("amount")} {moneyf($pdstats.payedvalue)})
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=pdlist&payments=-5">{trans("Overdue:")}</a>
            </td>
            <td>
                {$pdstats.overdue} ({trans("amount")} {moneyf($pdstats.overduevalue)})
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="">{trans("Today")}:</a>
            </td>
            <td>
                {$pdestats.today} ({trans("amount")} {moneyf($pdstats.todayvalue)})
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="">{trans("Tomorrow")}</a>
            </td>
            <td>
                {$pdstats.tomorrow} ({trans("amount")} {moneyf($pdstats.tomorrowdvalue)})
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="">{trans("Later")}:</a>
            </td>
            <td>
                {$pdstats.later} ({trans("amount")} {moneyf($pdstats.latervalue)})
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=pdlist&payments=-5">{trans("All unpaid:")}</a>
            </td>
            <td>
                {$pdstats.unpaid} ({trans("amount")} {moneyf($pdstats.unpaidvalue)})
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                To pay in next:
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=pdlist&payments=-2&period=3">{trans("In 3 days")}:</a>
            </td>
            <td>
                {$pdstats.in3days} ({trans("amount")} {moneyf($pdstats.in3daysvalue)})
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=pdlist&payments=-3&period=3">{trans("In 7 days")}:</a>
            </td>
            <td>
                {$pdstats.in7days} ({trans("amount")} {moneyf($pdstats.in7daysvalue)})
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=pdlist&payments=-4&period=3">{trans("In 14 days")}:</a>
            </td>
            <td>
                {$pdstats.in14days} ({trans("amount")} {moneyf($pdstats.in14daysvalue)})
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=pdlist&payments=-1&period=3">{trans("Unpaid ot current month")}:</a>
            </td>
            <td>
                {$pdstats.unpaidmonth} ({trans("amount")} {moneyf($pdstats.unpaidvalue)})
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=pdlist&payments=-1">{trans("All not payed")}:</a>
            </td>
            <td>
                {$pdstats.allunpaidmonth} ({trans("amount")} {moneyf($pdstats.allunpaidvalue)})
            </td>
        </tr>
    </tbody>
</table>
{/if}
