{if !ConfigHelper::checkPrivilege('hide_sale')}
<table class="lmsbox" id="lms-ui-welcome-box-sale">
    <colgroup>
        <col style="width: 25%;">
        <col style="width: 25%;">
    </colgroup>
    <thead>
        <tr>
            <td colspan="2" class="text-center bold">
                <i class="lms-ui-icon-money"></i> {trans("PURCHASES")}:
            </td>
            <td colspan="2" class="text-center bold">
                <i class="lms-ui-icon-money"></i> {trans("PAYMENTS")}:
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-right bold">
                <a href="?m=print">{trans("Two months ago:")}</a>
            </td>
            <td>
                {$dashboardstats.p2ma} ({trans("amount")} {moneyf($dashboardstats.p2mavalue)})
            </td>
            <td class="text-right bold">
                <a href="?m=print">{trans("Two months ago:")}</a>
            </td>
            <td>
                {$dashboardstats.pa2ma} ({trans("amount")} {moneyf($dashboardstats.pa2mavalue)})
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=print">{trans("Last month")}:</a>
            </td>
            <td>
                {$dashboardstats.p1ma} ({trans("amount")} {moneyf($dashboardstats.p1mavalue)})
            </td>
            <td class="text-right bold">
                <a href="?m=print">{trans("Last month")}:</a>
            </td>
            <td>
                {$dashboardstats.pa1ma} ({trans("amount")} {moneyf($dashboardstats.pa1mavalue)})
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=print">{trans("Current month")}:</a>
            </td>
            <td>
                {$dashboardstats.pcm} ({trans("amount")} {moneyf($dashboardstats.pcmavalue)})
            </td>
            <td class="text-right bold">
                <a href="?m=print">{trans("Current month")}:</a>
            </td>
            <td>
                {$dashboardstats.pacm} ({trans("amount")} {moneyf($dashboardstats.pacmavalue)})
            </td>
        </tr>
    </tbody>
</table>
{/if}
