{if !ConfigHelper::checkPrivilege('hide_links')}
<table class="lmsbox" id="lms-ui-welcome-box-links">
    <thead>
        <tr onclick="showOrHide('welcome_links-{$layout.module}');">
            <td class="text-center bold">
                <i class="lms-ui-icon-stats"></i> {trans("Hi")} {$layout.logname}
            </td>
        </tr>
    </thead>
    <tbody id="welcome_links-{$layout.module}" style="display:none;">
        <tr>
            <td class="text-center bold">
                {trans("Today is")} {$date.day} {$date.date}<BR>
                [calendar]
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript">
if (getCookie('welcome_links-{$layout.module}') == '1'){
    document.getElementById('welcome_links-{$layout.module}').style.display = '';
}
</script>
{/if}
