{if !ConfigHelper::checkPrivilege('hide_summaries')}
<table class="lmsbox" id="lms-ui-welcome-box-summaries">
    <colgroup>
        <col style="width: 50%;">
        <col style="width: 50%;">
    </colgroup>
    <thead>
        <tr>
            <td colspan="2" class="text-center bold">
                <i class="lms-ui-icon-node"></i> {trans("Purchase documents:")}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-right bold">
                <a href="?m=nodelist&amp;s=3">{trans("Payed:")}</a>
            </td>
            <td>
                {$pdstats.payed}
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=nodelist&amp;s=3">{trans("Overdue:")}</a>
            </td>
            <td>
                {$pdstats.overdue}
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=nodelist&amp;s=7">{trans("Today")}:</a>
            </td>
            <td>
                {$pdestats.today}
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=nodelist&amp;s=1">{trans("Tomorrow")}</a>
            </td>
            <td>
                {$pdstats.tomorrow}
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=nodelist&amp;s=6">{trans("Later")}:</a>
            </td>
            <td>
                {$pdstats.later}
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=nodelist">{trans("Total:")}</a>
            </td>
            <td>
                {$pdstats.total}
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                To pay in next:
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=pdlist&payments=-2&period=3">{trans("In 3 days")}:</a>
            </td>
            <td>
                {$pdstats.in3days}
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=pdlist&payments=-3&period=3">{trans("In 7 days")}:</a>
            </td>
            <td>
                {$pdstats.in7days}
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=pdlist&payments=-4&period=3">{trans("In 14 days")}:</a>
            </td>
            <td>
                {$pdstats.in14days}
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=pdlist&payments=-1&period=3">{trans("To end ot current month")}:</a>
            </td>
            <td>
                {$pdstats.toendmonth}
            </td>
        </tr>
        <tr>
            <td class="text-right bold">
                <a href="?m=pdlist&payments=-1">{trans("All not payed")}:</a>
            </td>
            <td>
                {$pdstats.toendmonth}
            </td>
        </tr>
    </tbody>
</table>
{/if}
